<html>
<head>
<title>Registration Page</title>
</head>
<body bgcolor="#99CC99">
<center><font color="#FF0000"><h1>STOCK DETAILS</h1></font>
<table>
<tr><th>Product_name</th><th>Manfacturing_date</th><th>Expire_date</th><th>Net_weigth</th><th>Price</th><th>Quantity</th><th>Remarks</th></tr>
<tr><th><input type="text" value="{{product_name}}"></th>
<th><input type="text" value="{{manf_date}}"></th>
<th><input type="text" value="{{expire_date}}"></th>
<th><input type="text" value="{{net_weigth}}"></th>
<th><input type="text" value="{{price}}"></th>
<th><input type="text" value="{{quantity}}"></th>
<th><input type="text" value="{{remarks}}"></th></tr>
</table>
</center>
</body>
</html>